/* Personalización paleta de colores */
:root {
  --negro-puro: #000000;
  --negro-suave: #242424;

  --gris-puro: #444444;
  --gris-puro: #444444;
  --gris-suave: #999999;

  --blanco-puro: #ffffff;
  --blanco-suave: #e2e2e2;

  --color-primario: #72bb53;
  --color-secundario: #0c59cf;
}
.fondo-primario {
  background-color: var(--blanco-puro) !important;
}
.fondo-secundario {
  background-color: var(--blanco-suave) !important;
}
.texto-primario {
  color: var(--negro-puro) !important;
}
.texto-secundario {
  color: var(--negro-suave) !important;
}
.boton-secundario {
  background-color: var(--color-primario) !important;
  font-weight: bold;
  border-radius: 4px;
}
.boton-primario {
  background-color: var(--color-secundario) !important;
  font-weight: bold;
  border-radius: 4px;
}

/* Fuente de textos predeterminada */
html {
  font-family: "Helvetica", Courier, monospace;
}

/* Configuración para que las transiciones sean más suaves */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduce-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* se cambia el fondo y color de texto del navbar*/
nav {
  background-color: unset;
  color: unset;
}

/* se establece el tamaño de la imagen que aparece al lado superior izquierdo */
nav img {
  height: 53px;
}

/* cuando la pantalla se reduzca hasta 992 px o menos, el tamaño la imagen desaparecerá */
@media only screen and (max-width: 992px) {
  nav img {
    display: none;
  }
}

/* se cambia el valor por defecto en Materialize del tamaño y color de texto del navbar */
nav ul a,
nav a {
  font-size: 1rem;
  color: var(--negro-puro);
}

nav .brand-logo {
  color: var(--negro-puro);
}

/* cuando la pantalla se reduzca hasta 440 px o menos, el tamaño de la fuente del LOGO se ajustará al tamaño de la pantalla */
@media (max-width: 440px) {
  nav .brand-logo .flow-text {
    font-size: 3.9vw;
  }
}

/* se cambia el SWITCH del navbar en su tamaño y color de texto  */
label {
  color: currentColor;
  font-size: 1rem;
}

/* estilos de la barra del switch al NO estar activa*/
.switch label .lever {
  background-color: var(--color-secundario);
}

/* estilos de la barra del switch al SI estar activa*/
.switch label input[type="checkbox"]:checked + .lever {
  background-color: var(--color-primario);
}

/* estilos de la esfera del switch al estar activa*/
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #f1f1f1;
}

/* Panel oculto para modo mobile */
.sidenav label {
  font-size: 14px;
  padding: 0 32px;
}

nav div.flow-text {
  height: 62px;
}
/* Estilo para los elementos al activar el alto contraste */
.high-contrast {
  color: var(--blanco-puro) !important;
  background: var(--negro-suave) !important;
}

/* // el siguiente estilo se aplica, pero no es perceptible */
nav.high-contrast {
  -webkit-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.86),
    0 3px 1px -2px rgba(255, 255, 255, 0.88),
    0 1px 5px 0 rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.86),
    0 3px 1px -2px rgba(255, 255, 255, 0.88),
    0 1px 5px 0 rgba(255, 255, 255, 0.98) !important;
}

h1 {
  color: var(--color-secundario);
  font-size: 2rem;
  font-weight: bold;
}

input::placeholder {
  font-weight: bold;
  font-size: 16px;
  padding-left: 15px;
}

input {
  border: 1px solid #999999 !important;
  border-radius: 5px !important;
  padding-left: 15px !important;
}

main {
  height: 700px;  
}

h5 {
  text-align: center;

}

.form-register {
width: 300px;
margin: auto;
}